<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<li>
    <div class="review-block">
        <div class="review-content-block">
            <div>
                <% const filledInStars = starRating; %>
                <% const emptyStars=5 - filledInStars; %>
                <% for (var i=0; i < filledInStars; i++) {%>
                    <span class="fa fa-star checked"></span>
                <% } %>
                <% for (var j=0; j < emptyStars; j++) {%>
                    <span class="fa fa-star"></span>
                <% } %>
            </div>
            <h2 class="tiny-top-margin">
                <%= title %>
            </h2>
            <p class="gray-text tiny-top-margin smaller-text">
                <%= date %>
            </p>
            <p class="top-margin">
                <%= content %>
            </p>
            <% if (upvoteCount> 0) { %>
                <p class="gray-text">
                    <% if (upvoteCount==1) { %>
                        One person found this helpful.
                    <% } else { %>
                        <%= upvoteCount %> people found this helpful.
                    <% } %>
                </p>
            <% } %>
        </div>
        <a href=<%=productUrl %>>
            <div class="review-product-block">
                <div class="review-product-image-wrap">
                    <img src=<%=productImageUrl %>>
                    </img>
                </div>
                <div class="review-product-title-wrap">
                    <p>
                        <%= productTitle %>
                    </p>
                </div>
            </div>
        </a>
    </div>
</li>