<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="profile-block">
        <div class="profile-bio-block">
            <div class="profile-bio-image-wrap">
                <img src=<%= authorImageUrl %>></img>
            </div>
            <h1 class="profile-bio-title">
                <%= authorName %>
            </h1>
        </div>
        <div class="profile-stats-block">
            <div class="profile-stats-item">
                <h2><%= totalReviewCount %></h2>
                <p>reviews</p>
            </div>
            <div class="profile-stats-item">
                <h2><%= totalUpvoteCount %></h2>
                <p>helpful votes</p>
            </div>
            <div class="profile-stats-item">
                <h2><%= avgStarRating %></h2>
                <p>avg rating</p>
            </div>
        </div>
        <ol class="review-list">
            <% allPostedReviews.forEach(function(review){ %>
                <%- include('reviewCard', review); %>
            <% }); %>
        </ol>
    </div>
</body>

</html>

<!-- 
    profile object 
    {
 authorImageUrl: selectedAuthorImageUrl,
 authorName: selectedAuthorName,
 allPostedReviews: relevantReviews,
 totalReviewCount: relevantReviewsCount,
 totalUpvoteCount: allUpvotesCount,
 avgStarRating: avgStarRating,
 } -->